$icon-edit: #edeff0;
$icon-edit-active: #4d4d4d;
$icon-attachment: #999999;

.icon {
    &-close {
        z-index: 5;
    }
    &-edit {
        color: $icon-edit;
        &:hover {
            color: $icon-edit-active;
        }
    }
    &-attachment,
    &-chat_bubble_outline,
    &-person_outline {
        color: $icon-attachment;
    }
}
