@import '../../../assets/styles/variables';

.board-card {
    position: relative;
    font-weight: bold;
    margin-bottom: 20px;
    overflow: hidden;
    &.bg-card {
        background: $bg-green;
        text-decoration: none;
        &:hover {
            background: darken($bg-green, 5%);
        }
    }
    &:hover {
        .delete-icon {
            transform: translateY(0);
        }
    }
    .delete-icon {
        right: 8px;
        bottom: 8px;
        transform: translateY(32px);
    }
}
