@import '../../../assets/styles/variables';

.board-card {
    margin-bottom: 15px;
    display: block;
    width: 295px;
    font-weight: bold;
    overflow: hidden;
    min-height: 95px;
    width: 100%;
    font-size: 14px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    resize: none;
    outline: none;
    z-index: 0;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.2);
    transition: box-shadow 0.2s linear;
    transition: background 0.2s linear;
    &.bg-card {
        background: $bg-green;
        text-decoration: none;
        &:hover {
            background: darken($bg-green, 5%);
        }
    }
    &:hover {
        .delete-icon {
            transform: translateY(0);
        }
    }
    .delete-icon {
        right: 8px;
        bottom: 8px;
        transform: translateY(32px);
    }
}
