@import '../../../assets/styles/variables';

.button-create {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    background: $bg-button-create;
    color: $color-button-create;
    border-radius: 3px;
    &:hover {
        background: darken($bg-button-create, 5%);
        color: darken($color-button-create, 15%);
    }
}
.card-custom {
    margin-bottom: 10px;
    min-height: 95px;
    border: 0;
    transition: 0.3s ease all;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
// .add-board-btn {
//     padding: 60px 40px;
//     z-index: 10;
// }
// .button-wrap {
//     position: relative;
// }
// .close-card {
//     cursor: pointer;
// }
