.show {
    display: block !important;
}
.hide {
    display: none !important;
}
.list-container {
    .card-info,
    .list-c__head {
        border-radius: 3px 3px 0px 0px;
        background: #E2E4E6;
        box-sizing: border-box;
    }
    .card-info {
        padding: 0 8px;
        margin-bottom: 8px;
    }
    .list-c__head {
        padding: 8px;
    }
    .list-content {
        background: #e2e4e6;
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        position: relative;
        white-space: normal;
    }
    .list-wrap {
        background: #E2E4E6;
        position: relative;
        white-space: normal;
        overflow-y: auto;
        overflow-x: hidden; 
    }
}
.add-card-btn {
    cursor: pointer;
    display: block;
    font-size: 14px;
    border-radius: 0 0 3px 3px;
    color: #838c91;
    background: #E2E4E6;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    user-select: none;
    &:hover {
        background-color: #CDD2D4;
        color: #4d4d4d;
        text-decoration: underline;
    }
}

.dropzone-container {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 5px;
}
