$color-border: #ccc;
$card-bg: #edeff0;
$icon-close-color: #999999;

.card, .card-info__title  {
    width: 100%;
    font-size: 14px;
    background: #fff;
    border: 0;
    border-bottom: 1px solid $color-border;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    resize: none;
    outline: none;
    z-index: 0;
    color: #4d4d4d;
    text-decoration: none;
    // transition: background 0.2s linear;
    &:hover {
        background: $card-bg;
        color: #4d4d4d;
        text-decoration: none;
        .edit-icon {
            display: block !important;
            border-radius: 3px !important; 
        }
    }
    .card__wrap {
        box-sizing: border-box;
        .card_title {
            padding: 6px 8px 8px;
        }
    }
    .edit-icon__card {
        visibility: hidden;
        position: absolute;
        top: 3px;
        right: 3px;
        font-size: 12px;
        padding: 7px;
        opacity: 0;
        color: $icon-close-color;
        background: $card-bg;
        border-radius: 3px;
        &:hover {
            background: darken($card-bg, 10%);
        }
    }
    .attachment-icon__card {
        font-size: 16px;
        transform: rotate(135deg);
    }
    .comment-icon__card {
        font-size: 15px;
    }
}
.card {
    &:hover {
        .edit-icon__card {
            visibility: visible;
            opacity: 0.8;
        }
    }
    .badges-wrap {
        display: flex;
        flex-direction: row;
    }
}
.card-info__title {
    min-height: 80px;
    &:hover {
        background: #fff;
    }
}
.card-info {
    .card-info__title {
        overflow: hidden;
        padding: 6px 6px 2px 8px;
        position: relative;
        z-index: 10;
    }
}

