.sidebar {
    .sidebar__title {
        font-size: 16px;
    }
    .sidebar__list-item {
        width: 100%;
        &.delete {
            background: #eb5a46;
            border-color: #eb5a46;
            border-bottom-color: #b04632;
            color: #fff;
        }
    }
}
