.list-page {
    .list-page__wrapper {
        padding: 10px 5px 5px 5px;
    }
    .list-page__title-wrap {
        z-index: 2;
        .list-page__title {
            margin: 0px !important;
            padding: 0 5px;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            border-radius: 4px;
            display: inline-block;
            &:hover {
                background: rgba(0,0,0,.12);
                cursor: pointer;
            }
        }
    }
    .list-page__form-wrap,
    .list-page__container,
    .list-page__title-wrap  {
        position: relative;
    }
    .list-page__container {
        height: calc(100vh - 100px);
    }
    .list-page__wrap {
        padding-top: 15px; 
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.list-container, 
.add-list-container, 
.list-page__form-wrap  {
    width: 270px;
}
.list-container, .add-list-container {
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.list-container, .list-controlls {
    .close {
        outline: none;
        cursor: pointer;
        float: none;
        font-size: 2.5rem;
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }
}
