.board-page {
    .board-wrap {
        padding: 30px 0px;
        .add-board {
            position: relative;
            cursor: pointer;
            padding: 40px 60px;
        }
        .list-wrap {
            margin-top: 20px;
        }
    }
}
