// $list-page-bg: #0078bf;
// body  {
//     background-color: $list-page-bg;
// }
.list-page {
    padding-top: 20px;
}
.list-container, .add-list-container {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
