@import '../../assets/styles/variables.scss';

$border-color-active: #0079bf;
$box-shadow: #0284c6;

@mixin textarea-styles () {
    border: 1px solid $border-color-active;
    box-shadow: 0 0 2px 0 $box-shadow;
    background: rgba(255, 255, 255, 0.9);
}

.edit-area {
    width: calc(100% - 30px);
    position: relative;
    &.no-editing {
        .close {
            display: none;
        }
    } 
    &.editing {
        .textarea {
            @include textarea-styles();
        }
    }
    
    .textarea {
        margin: 0;
        padding: 0 15px 0 0;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        color: $color-primary;
        line-height: 24px;
        height: 26px;
        min-height: 24px;
        box-sizing: border-box;
        resize: none;
        background: transparent;
        border-radius: 3px;
        border: 1px solid transparent;
        overflow: hidden;
        cursor: text;
        transition: background 85ms ease-in, border-color 85ms ease-in;
        &:focus {
            outline: none !important;
        }
    }
    .close {
        position: absolute;
        right: 0px;
    }
}
