.header {
    padding: 5px 20px;
    background-color: #026AA7;
    display: flex;
    .logo-wrap {
        margin: 0 auto;
        display: block;
        // width: 80px;
        .logo {
            width: 100%;
        }
        &.logo-text {
            font-size: 24px;
            text-decoration: none;
            color: #fff;
            font-style: italic;
            opacity: 0.7;
            transition: opacity 0.15s linear;
            &:hover {
                opacity: 1;
            }
        }
    }
    .nav {
        .nav-item {
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
