.board-form {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 200px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    display: none;
    &.open {
        display: block;
    }
    .title {
        padding: 10px;
        color: #838c91;
        font-size: 14px;
        position: relative;
        border-bottom: 1px solid #D6DADC; 
        .close-card {
            position: absolute;
            right: 10px;
            top: auto;
            font-size: 20px;

        }
    }
    .board-name {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}
